<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    {{/*    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.4/examples/sign-in/signin.css">*/}}
    <link rel="stylesheet" href="{{ .Css }}">
    <title>{{ .Title }}</title>
</head>
<body class="container">

<form class="form-signin" action="/login" method="post" role="form">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

    <div class="form-group {{if .Error }}has-error{{end}}">
        <label for="inputEmail" class="">User name</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="User name" required autofocus name="username" value="{{.PreFill.Username}}">

        <label for="inputPassword" class="">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" value="{{.PreFill.Password}}">

        {{if .Error }}
            <span class="help-block">{{.Error}}</span>
        {{end}}
    </div>



    <a href="register">Register</a>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in"/>
</form>


{{/*<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>*/}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
{{/*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"*/}}
{{/*        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"*/}}
{{/*        crossorigin="anonymous"></script>*/}}

{{/*<script src="C:\Users\slava\go\src\todolist\static\bootstrap\dist\js\bootstrap.js\bootstrap.min.js"></script>*/}}
</body>
</html>